body {
    background: thistle;
    background-image: url(./media/doc.jpg);
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: snow;
    font-family: 'Indie Flower', cursive;
}
#header {
    text-align: center;
    line-height: 100%;
}
.input {
    width: 100%;
}
#form {
    width: 100%;
}
.edit-form {
    display: inline;
}
.todo {
    width: 100%;
    border: 0.5px solid black;
    background-color: snow;
    color: black;
}
.completed {
    width: 100%;
    border: 0.5px solid black;
    background-color: snow;
    color: black;
    text-decoration-line: line-through;
}
.items-container {
    width: 100%;
}
#app-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item {
    position: relative;
    word-break: break-all;
}
.delete {
    display: inline-block;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    text-decoration-line: none;
}
.star {
    display: inline-block;
    position: absolute;
    right: 20px;
    bottom: 0;
    cursor: pointer;
    text-decoration-line: none;
}
#list-name {
    text-align: center;
    line-height: 100%;
}
.list-button {
    font-family: 'Indie Flower', cursive;
    line-height: 100%;
    display: block;
    height: 50px;
    width: 100%;
    padding: 20px;
    margin: 5px;
}
#lists-container {
    width: 125px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
#active-list {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
}
#add-list {
    margin-top: 15px;
    margin-bottom: 15px;
}
ul.container {
    list-style: none;
    padding-left: 0;
    width: 100%;
}
.active {
    background-color: #2daebf;
}
.trash {
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity 1s;
}
.hidden {
    opacity: 0;
}
#panel {
    border: 1px solid snow;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 350px;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    word-break: break-all;
}
.is-active {
    display: flex;
    opacity: 1;
}
.not-active {
    display: none;
    opacity: 0;
    transition: opacity 2s;
}