body {
    background: thistle;
    background-image: url(./media/doc.jpg);
    background-position: center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: snow;
}
.input {
    width: 100%;
}
#form {
    width: 50%;
}
.todo {
    width: 100%;
    border: 0.5px solid black;
    background-color: snow;
    color: black;
}
.completed {
    width: 100%;
    border: 0.5px solid black;
    background-color: snow;
    color: black;
    text-decoration-line: line-through;
}
.items-container {
    width: 100%;
}
.container {
    list-style: none;
    width: 50%;
}
#app-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item {
    position: relative;
    word-break: break-all;
}
.delete {
    display: inline-block;
    position: absolute;
    right: 5px;
    cursor: pointer;
    text-decoration-line: none;
}
.list-button {
    display: block;
    height: 50px;
    width: 100%;
    padding: 20px;
    margin: 5px;
}
#lists-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}